{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Djanker News</title>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script defer src="{% static 'js/home.js' %}"></script>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="{% url 'list' %}">List</a>
            </li>
            <li>
                <a href="{% url 'add-news' %}">Add News</a>
            </li>
        </ul>
    </header>
    <main id="app">
        <h1>Djanker News</h1>
        {% block main %}{% endblock %}
    </main>
    <footer>
        2021 Djanker News
    </footer>
</body>
</html>